.sidenav {
	height:100%;
	width:160px;
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	background-color:#111;
	overflow-x:hidden;
	padding-top:20px;
}

.sidenav p {
	text-align:center;
	padding:6px 8px 0px 16px;
	text-decoration:none;
	color:#818181;
	display:block;
}

.sidenav a {
	padding:6px 8px 6px 16px;
	text-decoration:none;
	font-size 25px;
	color:#818181;
	display:block;
}

.sidenav h3 {
	padding:6px 8px 6px 16px;
	text-decoration:none;
	font-size 25px;
	color:#818181;
	display:block;
}

.sidenav a:hover {
	color:#f1f1f1;
}

.sidenav hr {
	width:75%;
}

.main {
	margin-left: 160px;
	padding: 0px 10px;
}

@media screen and (max-height:450px) {
	.sidenav {padding-top:15px;}
	.sidenav a {font-size:18px;}
}

h1 {
	text-align: center;
h2 {
	background-color: lightyellow;
	text-align: center;
}
td {
	border-style: double solid;
	border-width: 2px;
}
ol {
	list-style-type: lower-roman;
}
a {
	font-family: monospace;
	font-size: 14px;
}
.portrait {
	border-style: double solid;
}
